{
    "text_indent": 0, 
    "default_ext": ".markdown", 
    "date_in_summary": "default", 
    "other_file_template_name": "none", 
    "folders_sort": "default", 
    "md_template_content": "", 
    "keep_repeated_n": false, 
    "summary_lines": 0, 
    "hide_ext": "no", 
    "save_sorts": true, 
    "editor_insert_image_template": "", 
    "editor_archive_type": "", 
    "home_title_type": "folder_name", 
    "new_file_template": "---\nlayout: post\ntitle:  \" \"\ndate:  2018-05-10 10:11:26 +0800\ncategories: none\n---", 
    "title_type": "filename", 
    "editor_image_store_path": "/images", 
    "md_injected_css": "", 
    "files_sort": "desc_create"
}